<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="/css/styles.css">
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="js/jquery.easing.js"></script>
	
	<style>

		{% if craft.assets.sourceId(1) | length %}
    		{% set background = craft.assets.sourceId(1).order('RAND()').first() %}
    	{% endif %}


		html { 
  			background: url({{ background.url }}) no-repeat center center fixed; 
  			-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-size: cover;
  			background-size: cover;
		}

		.fundname {
			margin-bottom: 0;
			position: absolute;
			bottom:0;
			padding-left: 140px;
			font-size: 20px;
			line-height: 24px;
			background: url({{ background.url }}) center center fixed;
			-webkit-background-clip: text;
			background-clip: text;
		}

		

	</style>

</head>

<body>
	<div id="container">
		<header id="header">
			<h1 class="fundname bd">Cab<br>
			Calloway<br>
			School<br>
			Fund</h1>
			<h5>
				Cab Calloway School Fund is a non-profit corporation 501c3. <br>Our mission is to support Cab Calloway School of the Arts.
			</h5>

			
		</header>
		
		<main id="content" role="main">
		
	<!-- 	<nav>
				<ul>
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#login">LOGIN</a></li>
				</ul>
		</nav> -->
			<!-- multistep form -->
			<div class="formcontainer">
<form id="msform">
	<!-- progressbar -->
	
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">Support our mission</h2>
		
		<input type="button" name="next" class="next action-button" value="Donate" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Select your donation amount</h2>
		<h3 class="fs-subtitle">Thanks for supporting young people in the arts</h3>
		<!-- <input type="text" name="email" placeholder="Email" />
		<input type="password" name="pass" placeholder="Password" />
		<input type="password" name="cpass" placeholder="Confirm Password" /> -->
		<input type="button" name="next" class="next action-button" value="$25" />
		<input type="button" name="next" class="next action-button" value="$50" />
		<input type="button" name="next" class="next action-button" value="$100" />
		<input type="button" name="next" class="next action-button" value="$250" />
		<input type="button" name="next" class="next action-button" value="$1000" />
		<input type="button" name="next" class="next action-button" value="Other" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">One-time or Periodic?</h2>
		<h3 class="fs-subtitle">Your presence on the social network</h3>
		<!-- <input type="text" name="twitter" placeholder="Twitter" />
		<input type="text" name="facebook" placeholder="Facebook" />
		<input type="text" name="gplus" placeholder="Google Plus" />
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" /> -->
		<input type="button" name="next" class="next action-button" value="One Time" />
		<input type="button" name="next" class="next action-button" value="Monthly" />
		<input type="button" name="next" class="next action-button" value="Quarterly" />
		<input type="button" name="next" class="next action-button" value="Annually" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Focus Areas</h2>
		<h3 class="fs-subtitle">Which of our programs are most important to you?</h3>
		
		<input type="button" name="next" class="next action-button" value="Piano" />
		<input type="button" name="next" class="next action-button" value="Strings" />
		<input type="button" name="next" class="next action-button" value="Dance" />
		<input type="button" name="next" class="next action-button" value="Photography" />
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Credit Card Information</h2>
		<input type="text" name="fname" placeholder="Name" />
		<input type="text" name="lname" placeholder="Number" />
		<input type="text" name="phone" placeholder="Expiration Date" />
		<textarea name="address" placeholder="Zip Code"></textarea>
		<input type="button" name="next" class="next action-button" value="Next" />
		<!-- <input type="submit" name="submit" class="submit action-button" value="Submit" /> -->
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Additional Gift</h2>
			<h3 class="fs-subtitle">Our <strong>Dance</strong> program is currently underfunded. Would you consider adding $10 toward this program?</h3>
		<input type="button" name="next" class="next action-button" value="Yes, certainly" />
		<input type="button" name="next" class="next action-button" value="No, thanks" />
		<!-- <input type="submit" name="submit" class="submit action-button" value="Submit" /> -->
	</fieldset>
	
	<fieldset>
		<h2 class="fs-title">Create an Account?</h2>
			<h3 class="fs-subtitle">Would you like us to save your information for future donations? If so, simply enter your name, email, and password below. If not, just leave them blank.</h3>
		<input type="text" name="email" placeholder="Email" />
		<input type="password" name="pass" placeholder="Password" />
		<input type="password" name="cpass" placeholder="Confirm Password" />
		<input type="button" name="next" class="next action-button" value="Submit" />
	</fieldset>
	
	<fieldset>
		<h2 class="fs-title">THANK YOU!</h2>
			<h3 class="fs-subtitle">Thank you for helping to ensure Cab Calloway School's continued success.</h3>
	</fieldset>
</form>

</div>

<script src="js/msform.js"></script>

<!-- jQuery -->

		</main>

		<footer id="footer">
		</footer>
	</div>
</body>
</html>
